.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.covidImg {
    width: 370px;
    margin-top: 50px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .covidImg {
        width: 100%;
    }
}